body {
    background-color: forestgreen;
    margin: 0;
    padding: 0;
}

#semaforo {
    margin: 0 auto;
    margin-top: -516px;
    width: 50px;
    height: 260px;
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

.redondas {
    width: 70px;
    height: 70px;
    margin-left: -10px;
    border-radius: 100%;
    border-top: solid 15px rgb(33, 33, 33);
}

#rojo {
    background-color: grey;
}

#ambar {
    background-color: grey;
}

#verde {
    background-color: grey;
}

#palo {
    margin: 0 auto;
    width: 35px;
    height: 500px;
    background-color: black;
}

#cielo {
    height: 600px;
    background-color: cyan;
}

#carretera {
    height: 200px;
    background-color: rgb(50, 50, 50);
}

@media only screen and (max-width:1000px) {
    #rojo {
        background-color: red;
    }
}

@media only screen and (min-width: 1001px) and (max-width:1700px) {
    #ambar {
        background-color: gold;
    }
}

@media only screen and (min-width: 1701px) {
    #verde {
        background-color: limegreen;
    }
}